.navbar {
 
  background: none;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.user-info{
  
  font-size: large;
}



.logo-img{
  margin: auto;
  display:flex;
  align-items: flex-start;
	justify-content: flex-start;
  justify-items: flex-start;
  border-radius: 100%;
  width: 40%;
  float: left;
  max-width: 100%;
  max-height: 100%;
  justify-content: left;
  box-shadow: 10px 10px 18px rgb(90, 82, 82),
	5px 10px 18px rgba(88, 76, 76, 0.1),
	5px 18px 23px rgba(97, 91, 91, 0.1);
}

.navbar-logo {
  justify-content: left;
 float: left;
  max-width: 100%;
  max-height: 100%;
  color: rgb(0, 0, 0);
  text-decoration:double;
  font-size:large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
  
  .fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 0px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 12rem;
  }
  
  .nav-item {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    height: 80px;
  }
  
  .nav-links {
    text-shadow: 0px 4px 3px rgb(194, 181, 181);
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    padding: 0.5rem 1.1rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:large;
  }
  
  .nav-links:hover {
    text-shadow: none;
    background-color:crimson;
    border-radius: 2px;
    transition: all 0.2s ease-out;
    box-shadow: rgb(5, 0, 0);
  }
  
  .fa-bars {
    color: rgb(0, 0, 0);
  }
  
  .nav-links-mobile {
    
    display: none;
    z-index: 0;
  }
  
  .menu-icon {
    display: none;
  }
  
  @media screen and (max-width: 960px) {
    .NavbarItems {
      position: relative;
      z-index: 2;
    }
  
    .nav-menu {
      
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 90vh;
      position: absolute;
      top: 80px;
      left: -100%;
      opacity: 1;
      transition: all 0.5s ease;
    }
  
    .nav-menu.active {
      
      background: none;
      left: 0;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 1;
    }
  
    .nav-links {
      
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .nav-links:hover {
      width: 100%;
  
      background-color: rgb(8, 6, 6);
      color: crimson;
      border-radius: 0;
      
    }
  
    .navbar-logo {
      position: absolute;
      top: 0;
      left: 0;
      transform: translate(25%, 50%);
    }
  
    .menu-icon {
      
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
      
    }
  
    .fa-times {
      
      color: rgb(7, 3, 3);
      font-size: 2rem;
      border-radius: 4px;
      
    
    }
  
    .nav-links-mobile {
      
      display: block;
      text-align: center;
      padding: 1.5rem;
      margin: 2.5rem auto;
      border-radius: 4px;
      width: 80%;
      background: none;
      text-decoration: none;
      color: rgb(1, 1, 1);
      font-size: 1.5rem;
    }
  
    .nav-links-mobile:hover {
     
      position: relative;
      z-index: 2;
      background: rgb(0, 0, 0);
      color: crimson;
      transition: 250ms;
      
    }



  }